a {
  text-decoration: none;

}

a:hover {
  color: orange;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

img {
  width: 40px;

}

.imgClick {
  width: 30px;
  height: 30px;
  background-color: black;
  transform: scale(.9);
  transition: transform 0.9s ease-out 0.9s;
  border-radius: 100%;
  visibility: hidden;
}

img:hover {
  cursor: pointer;
}

img:hover {
  transform: scale(.9);
  transition: transform 0.9s ease-in-out;
}


.relativeClass {
  position: relative;
}

.drawerInv {
  display: none;
  width: 0;
}

.drawerInv a {
  display: none;
  opacity: 0;
}


.drawer {

  z-index: 10;
  left: 0;
  top: 0;
  height: 100vh;
  width: 40vh;
  transition: width .2s ease-in-out .2s;
  background-color: black;
  position: fixed;
}

.drawer a {
  display: initial;
  opacity: 100;
  transition: .2s ease-in-out .2s;
  color: white;
  z-index: 11;
}

.drawer a:hover {
  color: orange;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.circleContainerINV {
  display: none;
  opacity: 0;
}



.circleContainer {
  display: block;
  top: 49px;
  position: fixed;
  height: 100vh;
  opacity: 100%;
}



.circle {
  border-radius: 100%;
  opacity: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  opacity: 100;
  transition: 1s ease-in-out 1s;

}

.circle:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 1s ease-in-out 1s;
}

.circle:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.circle img {
  -webkit-filter: invert(1);
  filter: invert(1);
}
